@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:  #fff;
    font-size: 20px;
    transition: .5s;
} 

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.nav{
    background: #024A59;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav a {
    font-size: 25px;
    text-transform: capitalize;
}

ul li {
    margin: 50px 20px;
    list-style-type: none;
}

.display {
    display: flex;
    align-items: center;
    padding: 50px;
}

#android {
    display: block;
}

#one {
    font-size: 48px;
}

p {
    display: none;
    text-align: right;
    font-size: 20px;
    line-height: 1.5;
}

.one.open,  .two.open, .three.open, .four.open, .five.open, .six.open {
    font-size: 48px;
}

.btn {
    padding: 10px 15px;
    border: 2px solid red;
    border-radius: 23px;
    background: red;
    color: #fff;
    position: absolute;
    bottom:50px;
    right: 50px;
}

.btn:hover {
    color: #191919;
    border: 2px solid red;
    background-color: white;
}