*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
.mobileheader h2{
    font-size: 30px;
    font-weight: bolder;

    color: #024A59;
    text-align: center;
    padding: 25px;

}
.mobileapp{
    position: static;
}
.mobileapp h1{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
}
.mobileapp p{
    font-size: 20px;
    color: rgb(175, 8, 8);
    padding: 10px;
    width: 500px;
    word-spacing: 3px;
    display: none;
}
/*.mobileapp:hover p{
    display: block;
}*/
.mobileapp1{
    margin-bottom: 10px;
}
.mobileapp2{
}
span{
    color: red;
}
button{
    font-size: 20px;
    font-weight: bolder;
    width: 180px;
    color: rgb(247, 23, 7);
    background-color: #024A59;
    border-radius: 35px;
    padding: 5px;
    margin-top: 50px;

}
button:hover{
    color: white;
    background-color: #07c6ec;
    font-style: italic;
    border: transparent;
}
.android{
    border: 2px solid red;
    width: 400px;
    margin-top: 30px;
    margin-left: 200px;
    height: 100px;
    background-color: #cf0f0f;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    animation-name: anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
.android:hover{
    background-color: #024A59;
}
.apple{
    border: 2px solid red;
    margin-right: 10px;
    width: 400px;
    margin-top: 30px;
    height: 100px;
    background-color: #cf0f0f;
    margin-left: 200px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius:20%;
    animation-name: anime;
    animation-duration: 4s;
  

}
.apple:hover{
    background-color: #024A59;
}
.webapps{
    border: 2px solid red;
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 200px;
    height: 100px;
    background-color: #cf0f0f;
    width: 400px;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    animation-name: anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;

  

}
.webapps:hover{
    background-color: #024A59;
}
.reactnative{
    border: 2px solid red;
    width: 400px;
    margin-top: 30px;
    height: 100px;
    background-color: #cf0f0f;
    margin-left: 200px;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    animation-name: anime;
    animation-duration: 4s;
  


}
.reactnative:hover{
    background-color: #024A59;
}
.uiux{
    border: 2px solid red;
    margin-right: 10px;
    width: 400px;
    margin-top: 30px;
    margin-left: 200px;
    height: 100px;
    background-color: #cf0f0f;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    animation-name: anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;

  



}
.uiux:hover{
    background-color: #024A59;
}
.maintenance{
   margin-top: 30px;
    border: 2px solid red;
    margin-right: 10px;
    margin-left: 200px;
    width: 400px;
    height: 100px;
    background-color: #cf0f0f;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    animation-name: anime;
  animation-duration: 4s;

}
.maintenance:hover{
    background-color: #024A59;, 
}
.display{
    background-color: black;
    color: white;
    height: 1000px;
}
@keyframes anime {
    from {background-color: #cf0f0f;}
    to {background-color: #024A59;}
  }