*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.mobileheader h2{
    font-size: 30px;
    font-weight: bolder;

    color: red;
    text-align: center;
    padding: 25px;

}
.mobileapp{
    background: linear-gradient(to right,#024A59,rgb(151, 14, 14));
    background-size: cover;
    padding: 0;
}
.mobileapp h1{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
}
.mobileapp p{
    font-size: 20px;
    color: rgb(175, 8, 8);
    padding: 10px;
    width: 500px;
    word-spacing: 3px;
    display: none;
}
/*.mobileapp:hover p{
    display: block;
}*/
.mobileapp1{
   /* margin-bottom: 10px;*/
}
.mobileapp2{
}
span{
    color: #23b1ce;
}
button{
    font-size: 20px;
    font-weight: bolder;
    width: 180px;
    color: rgb(247, 23, 7);
    background-color: #024A59;
    border-radius: 35px;
    padding: 5px;
    margin-top: 10px;

}
button:hover{
    color: white;
    background-color: transparent;
    font-style: italic;
    border: transparent;
}
.icon{
    width: 50px;
    background-image: url(../pages/images/icon.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    display: none;
}
.icon:hover{
    transform: rotate(-180deg);
}
.android img{
  width: 40px;
  object-fit: cover;
}
.android{
    width: 400px;
    margin-top: 10px;
    margin-left: 200px;
    height: 60px;
    text-align: center;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    display: flex;
    justify-content: space-evenly;
}
.android:hover{
    background-color: #024A59;
}
.android:hover .icon{
    display: block;
}
.icon::hover .display{
    display: block;
}
.apple{
    margin-right: 10px;
    width: 400px;
    margin-top: 10px;
    margin-left: 200px;
    height: 60px;
    text-align: center;
   /* background-color: #cf0f0f;*/
    margin-left: 200px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius:20%;
    display: flex;
    justify-content: space-evenly;

}
.apple:hover{
    background-color: #024A59;
    opacity: ;
}
.apple:hover .icon{
    display: block;
}
.webapps{
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 200px;
    height: 80px;
    text-align: center;
    object-fit: cover;
    width: 400px;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    display: flex;
    justify-content: space-evenly;

}
.webapps:hover{
    background-color: #024A59;
}
.webapps:hover .icon{
    display: block;
}
.reactnative{
    width: 400px;
    margin-top: 10px;
    height: 60px;
    text-align: center;

    margin-left: 200px;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    display: flex;
    justify-content: space-evenly;
}
.reactnative:hover{
    background-color: #024A59;
}
.reactnative:hover .icon{
    display: block;
}
.uiux{
    margin-right: 10px;
    width: 400px;
    margin-top: 10px;
    margin-left: 200px;
    height: 60px;
    text-align: center;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
    display: flex;
    justify-content: space-evenly;

}
.uiux:hover{
    background-color: #024A59;
}
.uiux:hover .icon{
    display: block;
}
.maintenance{
   margin-top: 10px;
    margin-right: 10px;
    color: antiquewhite;
    margin-left: 200px;
    width: 400px;
    height: 60px;
    text-align: center;

    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    display: flex;
    justify-content: space-evenly;

}
.maintenance:hover{
    background-color: #024A59;, 
}
.maintenance:hover .icon{
    display: block;
}
.display{
    display: none;
    color: rgb(207, 30, 30);
    height: 1000px;
    float: right;
}
@keyframes anime {
    from {background-color: #cf0f0f;}
    to {background-color: #024A59;}
  }
  .androi{

  }
  .androi h1{
    padding: 30px;
    text-align: center;

  }
  .androi p{
    width: 700px;
    color: #024A59;
    font-size: 27px;
    text-align: center;
  }

  img{
    width: 700px;
    height: 600px;
    object-fit: cover;
    padding: 30px;
    padding-left: 60px;
  }